
.modal-box {
  align-items: center;
  background-color: aliceblue;
  display: flex;
  height: 50%;
  margin-left: 25%;
  margin-top: 12%;
  width: 50%;
}

.modal-text {
  text-align: center;
  margin: auto;
}

.screen {
  background-color: black;
  color: white;
  font-size: x-large;
  height: 100%;
  padding-left: 240px;
  padding-top: 25px;
  text-align: center;
}

.gamepad {
  position: relative;
  padding: 0px;
  padding-left: 240px;
  height: 500px;
  width: 500px;
  overflow: 'auto';
  
}


.icon-button {
  height: 50px;
  width: 50px;
}



canvas {
  background-color: black;
}
