
.modal-box {
  align-items: center;
  background-color: aliceblue;
  display: flex;
  height: 50%;
  margin-left: 25%;
  margin-top: 12%;
  width: 50%;
}

.screen {
  background-color: black;
  color: white;
  font-size: x-large;
  height: 100%;
  padding-left: 240px;
  padding-top: 25px;
  text-align: center;
}

canvas {
  background-color: black;
}
