
.modal-box {
  align-items: center;
  background-color: aliceblue;
  display: flex;
  height: 50%;
  margin-left: 25%;
  margin-top: 12%;
  width: 50%;
}

.modal-text {
  text-align: center;
  margin: auto;
}

.screen {
  background-color: black;
  color: white;
  font-size: x-large;
  padding-left: 240px;
  padding-top: 240px;
  padding-bottom: 240px;
  text-align: center;
}

.gamepad {
  padding-left: 240px;
  text-align: center;
}

.direction-pad {
  height: 50px;
  width: 50px;
}

LeftButton {
  position: absolute;
  left: 5%;
  top: 25%;
}


